<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>main</h1>
	<p><a href="regBoard">글 작성하기</a> <a href="logout">로그아웃</a></p>
	<hr>
	<div>
		<table>
			<thead>
				<tr>
					<th>bno</th><th>title</th><th>writer</th>
				</tr>
			</thead>	
			<tbody>
				<tr th:each="board : ${list}">
					<td>[[${board.bno}]]</td>
					<td>[[${board.title}]]</td>
					<td>[[${board.username.username}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>