<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>regForm</h1>
	<hr>
	<form action="reg" method="post">
		<input type="text" name="username" placeholder="username"><br>
		<input type="password" name="password" placeholder="password"><br>
		<input type="text" name="name" placeholder="name"><br>
		<input type="text" name="tel" placeholder="tel"><br>
		<input type="submit" value="전송">
	</form>
</body>
</html>